*
{
	margin:0;
	padding:0;
}
header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url(background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
/*Menu*/
.main-nav
{
	float:right;
	margin-right: 250px;
	list-style:none;
	margin-top: 0px;
	background: black;
	text-align: center;
	display: block;


}
.main-nav li
{
	display: inline-block;
	width:120px;
	height: 40px;
	line-height: 40px;
	
}


.main-nav li a
{
	color: #797971;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Opensans",sans-serif;
	font-size:15px;

}
.main-nav li.active a
{
	border: 2px solid white
}
.main-nav li a:hover
{
	border:2px solid white;
}

.main-nav li >.product {
	display:none;
}

.main-nav li:hover .product {
	display:block;
}

.logo img
{
	width:70px;
	height: auto;
	float:left;
	margin-top:0px 
}
body
{
	font-family: monospace;
}
.row
{
	max-width: 1400px;
	margin:auto;
}
.hero
{
	position:absolute;
	width:1400px;
	margin-top: 0px;
	margin-left: 100px;
}

h1
{
	color:white;
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	margin-top: 275px;
}

.button
{
	margin-top:30px;
	margin-left: 530px;
}
.btn
{
	border:1px solid white;
	padding:10px 30px;
	color:white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one
{
	background-color: black;
	font-family: "Roboto",sans-serif;
}

.btn-two
{
	font-family: "Roboto",sans-serif;
}
.btn-one:hover
{
	background: darkorange;
	transition: all 0.5s ease-in;
	
}
.btn-two:hover
{
	background: darkorange;
	transition: all 0.5s ease-in;
}